* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body {
    background-color: rgb(24, 30, 48);
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
}
button {
    color: slategrey;
    font-size: xx-large;
}