* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body {
    background-color: rgb(24, 30, 48);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#points{
    position: absolute;
    right: 10px;
    top: 0px;
}
#others{
    height: 40%;
}
#buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 40%;
}
button {
    color: slategrey;
    font-size: xx-large;
    height: 1fr
}